.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  text-align:justify;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 6px;
  background: #fefefe;
}

.editor:focus,
.editor:focus-within,
.editor:focus-visible, 
.editor:active {
  border: 1px solid #591bc5;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 30px;
}


